.button {
  --button-size: 50px;
  --button-foreground: var(--color-background);
  --button-background: var(--color-foreground);
  --button-border-width: 2px;
  --button-border: var(--button-border-width) solid var(--color-background);
  --button-border-hover: var(--button-border-width) solid
    var(--color-foreground);
  --button-border-radius: 5px;

  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background);
  color: var(--button-foreground);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem;

  &__text {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__icon {
    height: calc(var(--button-size) * 0.75);
    width: calc(var(--button-size) * 0.75);
  }

  &:hover {
    background: var(--button-foreground);
    color: var(--button-background);
    border: var(--button-border-hover);
  }

  &--link {
    text-decoration: none;
    border: none;
  }
}
