<div
  class="flex min-h-screen w-full flex-col items-center justify-center gap-6 pt-28 px-4 pb-28 md:py-8 md:pt-12 md:pb-8"
>
  <div class="flex flex-col text-center">
    <h1 class="text-lg font-bold">Home</h1>
    <p>This is the Home page.</p>
  </div>

  <a href="/about" class="button" hx-boost="true">
    <span class="button__text">
      About
    </span>
  </a>

  <div class="flex flex-col gap-4">
    <h2 class="text-center text-lg font-bold">Items (rendered from server
      context)</h2>
    {{#if items}}
      <ul
        class="flex h-56 max-w-md flex-col items-center gap-4 overflow-y-auto px-2"
      >
        {{#each items as |item|}}
          <li
            data-id="{{item.id}}"
            class="border-contrast-foreground/60 mx-auto flex max-w-sm flex-col gap-0.5 rounded-lg border py-2 px-1 text-center"
          >
            <strong>{{item.name}}</strong>
            <p class="text-balance">{{item.content}}</p>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-center text-lg font-bold">Items (rendered from htmx swap)</h2>
    <ul
      class="flex h-56 max-w-md flex-col items-center gap-4 overflow-y-auto px-2"
      hx-get="/api/getItems"
      hx-trigger="load delay:.25s"
      hx-swap="innerHTML"
    >
      {{#times 3}}
        <li
          data-id="{{@index}}"
          class="border-contrast-foreground/60 mx-auto flex max-w-sm flex-col gap-0.5 rounded-lg border py-2 text-center"
        >
          <strong>
            <span class="sr-only">
              loading item...
            </span>
          </strong>
          <p class="text-balance">
            <span class="sr-only">
              loading item...
            </span>
            <span class="invisible">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            </span>
          </p>
        </li>
      {{/times}}
    </ul>
  </div>
</div>