@import "tailwindcss";
@import "tailwindcss/utilities";

@import "./components/index.scss";
@import "./globals/index.scss";

@theme {
  --color-background: hsla(0, 0%, 0%, 0.97);
  --color-background-faded: hsla(0, 0%, 0%, 0.25);
  --color-foreground: hsla(0, 0%, 100%, 0.97);
  --color-foreground-faded: hsla(0, 0%, 100%, 0.25);
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-foreground-faded);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-foreground);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-foreground-faded);
  }
}
