RewriteEngine On

# Remove trailing slash from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [L,R=301]

# Redirect requests for /dir.ext to /dir/index.ext
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.([^/]+)$ /$1/index.$2 [L]

# Allow access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.html [L]

# BEGIN CACHE CONTROL
<IfModule mod_headers.c>
    # MONTH
    <FilesMatch "\.(jpg|jpeg|png|gif|swf|webp|avif)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
</IfModule>
# END CACHE CONTROL

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP