<div
  class="flex min-h-screen w-full flex-col items-center justify-center gap-6 py-8 pt-20 px-4 md:py-12 md:pt-12"
>
  <div class="flex flex-col text-center">
    <h1 class="text-lg font-bold">Custom Helpers</h1>
    <p class="max-w-sm">
      On this page I'll show you some custom helpers that I've used.
    </p>
  </div>

  <a href="/" class="button" hx-boost="true">
    <span class="button__text">
      Home
    </span>
  </a>

  <div class="flex flex-col gap-4">
    <h2 class="text-center text-lg font-bold">Code Highlighting</h2>
    <div class="flex max-w-[90vw] flex-col gap-2 overflow-x-auto md:max-w-md">
      {{#highlight-hbs}}
        <div class="flex flex-col text-center">
          <h1 class="text-lg font-bold">Currencies</h1>
          <p class="max-w-sm">Currencies can be placed like this:
            [str-replace="bc_money:0"]
          </p>
        </div>
      {{/highlight-hbs}}
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-center text-lg font-bold">DateTime Display</h2>
    <p>
      The date & time this page was last build was:
      {{moment "now" "YYYY-MM-DD HH:mm:ss"}}
    </p>
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-center text-lg font-bold">Items loop (rendered from server
      context)</h2>
    {{#if items}}
      <ul
        class="flex max-h-56 w-full max-w-md flex-col items-center gap-4 overflow-y-auto px-2"
      >
        {{#each items as |item|}}
          <li
            data-id="{{item.id}}"
            class="border-contrast-foreground/60 mx-auto flex max-w-sm flex-col gap-0.5 rounded-lg border py-2 text-center"
          >
            <strong>{{item.name}}</strong>
            <p class="text-balance">{{item.content}}</p>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>