<nav
  class="bg-foreground/10 border-foreground/50 fixed inset-x-0 top-0 flex h-16 w-full items-center justify-between gap-4 border-b-2"
>
  <div
    class="relative inset-0 flex h-full w-full items-center justify-between gap-4 py-2 px-3 md:px-6"
  >
    <div class="absolute inset-0 -z-10 h-full w-full bg-neutral-500"></div>

    <a href="/" class="text-foreground text-2xl" hx-boost="true">Jereko</a>

    <ul class="flex gap-2" aria-roledescription="navigation button group z-1">
      <li>
        <a href="/" class="button button--small button--invert" hx-boost="true">
          <span class="button__text">
            Home
          </span>
        </a>
      </li>
      <li>
        <a
          href="/about"
          class="button button--small button--invert"
          hx-boost="true"
        >
          <span class="button__text">
            About
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>