<div
  class="fixed inset-0 flex h-screen w-full flex-col items-center justify-center gap-2"
>
  <div class="flex flex-col text-center">
    <h1 class="text-lg font-bold">About</h1>
    <p>This is the About page.</p>
  </div>
  <a
    href="/"
    class="border-foreground w-max rounded-md border py-1 px-1.5"
    hx-boost="true"
  >Home</a>
</div>