<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.desc}}" />
    {{> head}}
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}

    {{!-- <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js" defer></script>
    <script src="https://unpkg.com/jquery@4.0.0-beta/dist/jquery.min.js"></script> --}}
    <script src="/core/main.js" type="module"></script>
    
    <script data-id="fhbs-ctx" type="application/json" data-location="{{pathname}}"></script>
  </body>
</html>